<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form>
      <label>Email: </label>
      <input
        type="email"
        placeholder="Enter your valid emailId"
        name="email"
        id="email"
      />
      <button type="submit">submit</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/forgot.js"></script>
  </body>
</html>
