<!DOCTYPE html>
<html>
  <head>
    <title>Reset Password</title>
  </head>
  <body>
    <h2>Reset Your Password</h2>
    <form action="/password/updatepassword" method="POST">
      <input type="hidden" name="requestId" value="" id="requestId" />
      <label for="newpassword">Enter New Password:</label>
      <input type="password" name="newpassword" required />
      <button type="submit">Update Password</button>
    </form>

    <script>
      const urlParts = window.location.pathname.split("/");
      const requestId = urlParts[urlParts.length - 1];
      document.getElementById("requestId").value = requestId;

      // Set the form action to include the UUID
      const form = document.querySelector("form");
      form.action = `/password/updatepassword/${requestId}`;
    </script>
  </body>
</html>
